@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}
.top__section {
	background-color: #d7d7d7;
}
nav ul {
	list-style: none;
}
nav ul a {
	color: #555;
	text-decoration: none;
	font-size: 16px;
	/* transition: 0.3s ease-in-out; */
}
nav ul a:hover {
	color: #777;
}
.navbar {
	display: flex;
	width: 100%;
	padding: 30px 5%;
	justify-content: space-between;
	align-items: center;
}
.navbar .logo_section {
	font-size: 30px;
	font-family: "Dancing Script", cursive;
	font-weight: 800;
}
.navbar .menu_section {
	width: 40%;
}
.navbar .menu_section ul {
	display: flex;
	width: 100%;

	justify-content: space-between;
}
.navbar__login {
	background-color: #333;
	padding: 7px 45px;
	border-radius: 12px;
	color: white;
	transition: 0.2s ease-in-out;
	outline: none;
	border: 1px solid black;
}
.navbar__login:hover {
	color: #555;
	background-color: transparent;

	border: 1px solid black;
}
#hero {
	width: 100%;
	height: 100vh;
}
.hero__main_wrapper {
	width: 100%;
	height: 100%;
	padding: 50px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	animation: fade_in 0.7s ease-in forwards;
}
@keyframes fade_in {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.hero__main_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.hero__main_section p {
	color: #444;
	font-size: 18px;
}
.hero__bottom_section {
	width: 30%;
	text-align: center;
	line-height: 30px;
	color: #555;
}
.hero__main_section h1 {
	font-size: 65px;
	font-weight: 700;
	padding: 30px 0;
}
#case_studies {
	/* height: 20vh; */
	width: 100%;
}
#case_studies .case_studies_header {
	width: 100%;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.case_studies_header .header_left{
    /* border:2px solid red; */
    padding: 0 60px;
    width: 60%;
}
.case_studies_header .header_left h1{
    font-size: 25px;
    margin-bottom: 20px;

}
.case_studies_header .header_left p{
    /* border:2px solid red; */
    color: #666;
    width: 90%;
}
#dots{
    /* border:2px solid red; */
    align-self:   baseline;
    margin: 0 20px 0 0 ;
}

.cases_studies_case {
    /* border: 2px solid red; */
    /* padding: 0; */
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.case_left {
	padding: 0 50px;
}
.case_right {
	width: 80%;
}
.case_left .case_image {
	height: 350px;
	width: 550px;
	background-color: #e9e9e9;
	border-radius: 20px;
}
.case_right * {
	margin: 20px 0;
}
.case_right .case_category {
	color: #555;
}
.case_right .case_title {
	font-weight: bolder;
}
.case_right .case_info {
	color: #555;
	margin: 20px 0;
	width: 80%;
}
.case_right .case_readMore {
	font-size: 12px;
	letter-spacing: 1.7px;
	color: #f4f4f4;
	padding: 10px 20px;
	background-color: #333;
	outline: none;
	border: 1px solid #333;
	border-radius: 10px;
}
.arrow-container{
    width: 150px;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
}
.dark-section{
	background-color:#d7d7d7 ;
}
/* technologies section */

.row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex_col{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tech_image{
	height: 200px;
	width: 200px;
	background-color: #ffffff;
	border-radius: 50%;
}
.technologies{
	padding: 20px 5%;
}
.technologies .single{
	/* margin: 0 25px; */
}
.tech_name{
	padding-top: 17px;
	color: black;
		font-size: 18px;

}
.section_header{
	width: 50%;
	padding:100px 60px 50px ;
}
.section_header *{
	padding: 10px 0;
}
.section_header p{
color: #444;
}
.section_header h1{
	font-size: 25px;
		
}
	